<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<body>
		<aside class="aw-layout-sidebar  js-sidebar" th:fragment="aside">
			<div class="aw-layout-sidebar__content">
		
			    <nav class="aw-menu  js-menu">
					<ul class="aw-menu__list">
			
						<li class="aw-menu__item  is-active">
							<a href="#">
								<i class="fa  fa-fw  fa-file-text"></i><span>Samples</span>
								<i class="aw-menu__navigation-icon  fa"></i>
							</a>
							<ul class="aw-menu__list  aw-menu__list--sublist">
								<li class="aw-menu__item  aw-menu__item--link"><a href="new-file.html">Generate Multiple Files from a CSV</a></li>
							</ul>
						</li>
					</ul>
				</nav>
		
			</div>
		</aside>
	</body>
</html>