<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="'layout/default-layout'">

<!-- Here we are using defaul-layout.html page where we have the head, footer etc - only the section tag will be populated using this page
Check the layout:decorator -->

<head></head>

<body>	
	<section layout:fragment="content">

		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Create new File
				</h1>
			</div>
		</div>

		<div class="container-fluid">

<!--		
			<div class="alert  alert-danger  alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<i class="fa  fa-exclamation-circle"></i> Some Text
			</div>
-->		
			<form method="get" class="form-vertical  js-form-loading">
				<div class="row">
					<div class="col-sm-4 form-group">
						<label for="input-produto-nome">Select a CSV file</label>
						<input id="myfile" type="file" name="myfile" class="form-control">
					</div>
					<div class="col-sm-2 form-group">
						<label for="input-produto-nome">Choose a separator</label>
						<select id="cars" name="cars" class="form-control">
							<option value=",">,</option>
							<option value=";">;</option>
							<option value="|">|</option>
						</select>
					</div>	
				</div>
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Submit</button>
				</div>
		
			</form>
		</div>

	</section>
</body>
</html>