<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="'layout/default-layout'">

<!-- Here we are using defaul-layout.html page where we have the head, footer etc - only the section tag will be populated using this page
Check the layout:decorator -->

<head></head>

<body>	
	<section layout:fragment="content">

		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Create new File
				</h1>
			</div>
		</div>

		<div class="container-fluid">
			<form method="POST" th:action="@{/upload-csv-file}" enctype="multipart/form-data" class="form-vertical js-form-loading">
				<div class="row">
				    <div class="col-sm-4 form-group">
				        <label for="file">Select a CSV file</label>
				        <input type="file" name="file" class="form-control-file" id="file" accept=".csv">
				    </div>
					<div class="col-sm-2 form-group">
						<label for="fileSeparator">File Separator</label>
						<select id="fileSeparator" name="fileSeparator" class="form-control">
							<option value=",">,</option>
							<option value=";">;</option>
							<option value="|">|</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
				    <button type="submit" class="btn btn-primary">Import File</button>
			    </div>
			    
			</form>
		</div>
		
		<div class="container-fluid">
		    <div class="row">
		        <div class="col-sm-12">
		            <!--display error if any-->
					<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${!status}">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<i class="fa  fa-exclamation-circle"></i> <span th:text="${message}"></span>
					</div>
		            <div class="alert alert-info" role="alert" th:if="${status}">
		                <strong>Info:</strong>
		                <span th:text="${message}"></span>
		            </div>
		        </div>
		    </div>
		</div>

	</section>
</body>
</html>